# Built files
object/
bin/
lib/
/include/
src/opencmiss_c.f90

# OpenCMISS examples repository
/examples

# OpenCMISS output
*.diag
*.out

# Editor files
*.swp
*~

# Files created when running tests
*.pyc
nose_run_*
nose_build_*
nose_check_*
